- const baseNavItem = 'nav__item';

mixin nav-link(link, label, icon, ...classes)
    -
        const currLink = `page/`;
        const className = [...classes, link === currLink ? 'active' : null]
            .filter((v) => !!v)
            .map((v) => `${baseNavItem}--${v}`)
            .join(' ');
    a.col.col--2(href='/' + link, class=`${baseNavItem} ${className}`)&attributes(attributes)
        i(class=`${baseNavItem}__icon ri-${icon}-line`)
        span(class=`${baseNavItem}__label`)= label